### Import pandas library

In [80]:
import pandas as pd

### Read input text file

In [81]:
df = pd.read_csv("word-count.txt", sep='\t', header=None, names=['lines'])
df

                                               lines
0                                                 hi
1  this is input file for word count program in p...
2  to demonstrate how word count program can be w...
3  Pandas is a very useful Python library for dat...

### Covert all letters to lowercase

In [82]:
df['lines'] = df['lines'].str.lower()

### Split sentences to get words

In [83]:
df['words'] = df['lines'].str.split()
df

,lines,words
0,hi,[hi]
1,this is input file for word count program in p...,"[this, is, input, file, for, word, count, prog..."
2,to demonstrate how word count program can be w...,"[to, demonstrate, how, word, count, program, c..."
3,pandas is a very useful python library for dat...,"[pandas, is, a, very, useful, python, library,..."

### Remove lines column as no longer needed

In [84]:
df.pop("lines")
df

                                               words
0                                               [hi]
1  [this, is, input, file, for, word, count, prog...
2  [to, demonstrate, how, word, count, program, c...
3  [pandas, is, a, very, useful, python, library,...

### Explode words array to get individual words in each row

In [85]:
df = df.explode('words')
df

         words
0           hi
1         this
1           is
1        input
1         file
..         ...
3          row
3       labels
3           of
3            a
3   dataframe.

[109 rows x 1 columns]

### Group by on words via value_counts method and rename columns and sort on count

In [86]:
df = df['words'].value_counts().reset_index()
df.columns=['word', 'count']
df.sort_values('count', ascending=False)
df

          word  count
0         data      6
1            a      6
2       pandas      5
3           in      4
4          can      4
..         ...    ...
63  structured      1
64       data,      1
65   including      1
66    tabular,      1
67  dataframe.      1

[68 rows x 2 columns]